
.Rproj.user/0A142DCD/sources/prop/D61A94C0
.Rproj.user/0A142DCD/sources/prop/INDEX
.Rproj.user/0A142DCD/sources/s-11B0BF3A/23FF6E9F
*.Rproj
*.metadata
.Rproj.user/0A142DCD/sources/s-11B0BF3A/23FF6E9F-contents
.Rproj.user/0A142DCD/sources/s-11B0BF3A/lock_file
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/0A142DCD11B0BF3A/chunks.json
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/c2v7h06wygpd4/000002.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/c2v7h06wygpd4/000003.rdf
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cgctc27udno0y/000002.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cgctc27udno0y/000003.rdf
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cgctc27udno0y/000004.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/chunks.json
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cltw7i6ps7xfa/000002.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cltw7i6ps7xfa/000003.png
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cltw7i6ps7xfa/000003.snapshot
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cxxxet1vo1vgg/000002.csv
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cxxxet1vo1vgg/000003.png
.Rproj.user/shared/notebooks/D916F872-Data Exploration/1/s/cxxxet1vo1vgg/000003.snapshot
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/0A142DCD/sources/prop/1E024232
.Rproj.user/0A142DCD/sources/s-11B0BF3A/545AA377
.Rproj.user/0A142DCD/sources/s-11B0BF3A/545AA377-contents
.Rproj.user/0A142DCD/sources/s-11B0BF3A/EB56A271
.Rproj.user/0A142DCD/sources/s-11B0BF3A/EB56A271-contents
